html
	font-family: sans-serif;
#medgarin
	background: #353535
	height: 100%
	margin 0
	width: 15%
	position:fixed
	z-index:101
.img-medgarin
	width: 50%
	margin 2em auto 0 auto

	img
		margin 0 auto
.info-medgarin
	color: #fff
	text-align: center
	font-family: 'Sintony', sans-serif

	h2
		font-weight: 100
		font-size: 24px;
		margin: 20px 0 3px 0
	h3
		font-size:18px
		color: #aaa
		margin: 0px 0 10px 0
#menu
	width: 100%
	a
		color: #fff
	ul
		padding: 0
		margin: 0
		list-style: none
		li
			background: #303030
			border-top: 1px solid #373737
			border-bottom: 1px solid #2B2B2B
			.texto
				padding-left: 5%
				margin-left: 50px
				line-height: 45px
				-webkit-box-shadow: -3px 0 5px -4px #000
				box-shadow: -3px 0 5px -4px #000
			.icono
				line-height: 45px;
				width: 50px;
				text-align: center;
				font-size: 27px;
				float: left
		li.activo
			background: #363636
			border-top: 1px solid #3d3d3d
			border-bottom: 1px solid #252525

			a
				color: #3FB4D6
